.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
    border-bottom: 1px solid #EAEAEA;
}

.main .content {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 64px;
}

.main .content .top-10, .main .content .top-10-craftsmen, .main .content .holidays, .main .content .latest-works {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    width: 100%;
}

.main .content .top-10 span, .main .content .top-10-craftsmen span, .main .content .holidays span, .main .content .latest-works span {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #000000;
}

.main .content .top-10 .container {
    position: relative;
    height: 280px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.main .content .top-10-craftsmen .container {
    position: relative;
    height: 256px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.main .content .holidays .container {
    position: relative;
    width: 100%;
    height: 340px;
    display: flex;
}

.main .content .latest-works .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 280px);
    grid-gap: 16px;
}

.main .content .top-10 .container .item, .main .content .top-10-craftsmen .container .item, .main .content .latest-works .container .item {
    display: grid;
    border: 1px solid lightgray;
    grid-template-rows: 160px 1fr;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.main .content .top-10 .container .item img, .main .content .top-10-craftsmen .container .item img, .main .content .latest-works .container .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .content .holidays .container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .content .holidays .container .info {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main .content .holidays .container .info .details {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.main .content .holidays .container .info .details .info-1 {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 128.85px;
}

.main .content .holidays .container .info .details .info-2 {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 8.15px;
}

.main .content .holidays .container .info .details .info-3 {
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 16px;
    width: 740px;
}

.main .content .holidays .container .info .details svg {
    position: absolute;
    left: 16px;
    bottom: 56px;
}

.main .content .top-10 .container .item .info, .main .content .latest-works .container .item .info {
    display: grid;
    padding: 16px;
    grid-template-rows: 63px 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.main .content .top-10-craftsmen .container .item .info {
    display: grid;
    padding-top: 16px;
    padding-left: 14px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.main .content .top-10 .container .item .info .name-desc, .main .content .top-10-craftsmen .container .item .info .name-desc, .main .content .latest-works .container .item .info .name-desc {
    display: flex;
    flex-direction: column;
}

.main .content .top-10 .container .item .info .name-desc .name, .main .content .top-10-craftsmen .container .item .info .name-desc .name, .main .content .latest-works .container .item .info .name-desc .name {
    font-family: Geometria;
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
}

.main .content .top-10 .container .item .info .name-desc .desc, .main .content .top-10-craftsmen .container .item .info .name-desc .desc, .main .content .latest-works .container .item .info .name-desc .desc {
    font-family: Geometria;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}

.main .content .top-10 .container .item .info .price, .main .content .top-10-craftsmen .container .item .info .price, .main .content .latest-works .container .item .info .price {
    display: flex;
    justify-content: space-between;
}

.main .content .top-10 .container .item .info .price .shop-name, .main .content .top-10-craftsmen .container .item .info .price .shop-name, .main .content .latest-works .container .item .info .price .shop-name {
    font-family: Geometria;
    color: #929292;
    font-size: 12px;
    line-height: 20.8px;
    font-weight: 400;
}

.main .content .top-10 .container .item .info .price .value, .main .content .top-10-craftsmen .container .item .info .price .value, .main .content .latest-works .container .item .info .price .value {
    font-family: Geometria;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}

.cmd-img-left {
    left: -22px;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmd-img-right {
    right: -22px;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .content .top-10 .container .cmd-img-left, .main .content .top-10 .container .cmd-img-right {
    top: 64px;
}

.main .content .top-10-craftsmen .container .cmd-img-left, .main .content .top-10-craftsmen .container .cmd-img-right {
    top: 64px;
}

.main .content .last-reviews {
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.main .content .last-reviews .cmd-img-left, .main .content .last-reviews .cmd-img-right {
    top: 228px;
}

.main .content .last-reviews img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .content .last-reviews .text {
    margin-left: 83px;
    margin-top: 65px;
    margin-right: 36px;
    margin-bottom: 86px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main .content .last-reviews .text .text-1 {
    font-family: Geometria;
    font-size: 36px;
    font-weight: bold;
}

.main .content .last-reviews .text .text-2 {
    margin-top: 34px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}

.main .content .last-reviews .text .text-3 {
    margin-top: 16px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.main .content .last-reviews .text svg {
    position: absolute;
    bottom: 0px;
}

.span-link {
    color: rgb(252, 151, 13);
}

/*******************************/

.main-filter {
    display: flex;
    flex-direction: column;
}

.main-filter .price {
    margin-top: 39px;
    display: grid;
    grid-template-rows: auto auto auto;
}

.main-filter p {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

.main-filter .price .range {
    margin-top: 8px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}

.main-filter .price .range input {
    width: 130px;
    height: 48px;
    border-radius: 2px;
    border: none;
    background: #F2F2F2;
    text-indent: 20px;
    font-size: 16px;
    font-family: Geometria;
}

.main-filter .price .range input:focus {
    border: 1px solid rgb(62, 175, 251);
    outline: none !important;
}

.main-filter .price .slider {
    height: 3px;
    left: 10px;
    width: calc(100% - 10px);
    background: lightgray;
}

.ui-slider-horizontal .ui-slider-handle {
    border: none;
    top: -9px;
    width: 10px;
    height: 18px;
    border-radius: 1px;
    clip-path: polygon(50% 100%, 100% 72%, 100% 0, 0 0, 0 72%);
}

.ui-slider-range {
    background: #0079C4;
}

.ui-widget-content .ui-state-default {
    background: #0079C4;
}

.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 3px;
}

.main-filter .material {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-filter select {
    height: 48px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    background: url(../img/arrow-down.svg) no-repeat right #F2F2F2;
    background-position-x: 281px;
    text-indent: 27px;
}

.main-filter select:focus {
    border: 1px solid rgb(62, 175, 251);
    outline: none !important;
}

.main-filter .scope {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-filter .location {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.chk-bychow input+label {
    margin-top: 8px;
    font-family: 'Geometria';
    font-weight: 400;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chk-bychow input:checked+label::before {
    font-size: 16px;
    background-image: url(../img/check.svg);
}

.chk-bychow input+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    border: 1px solid #E3E2E2;
    margin-right: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #ffffff;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.chk-bychow input {
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main-filter .availability {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-filter .search {
    margin-top: 32px;
    height: 48px;
    background: #0079C4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-filter .search span {
    color: white;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}

@media screen and (max-width: 950px) {
    .wrapper {
        display: grid;
        /*grid-template-areas: "header menu" "main main" "article article";*/
        grid-template-areas: "header menu" "main main";
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        grid-template-rows: 50.8px auto auto;
    }

    .header {
        grid-template-areas: "logo menu";
        padding: 10px 20px 0 20px;
    }

    .logo img {
        height: 28px;
    }
    .login {
        display: none;
    }

    .main {
        padding: 20px 20px 20px 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        grid-column-gap: 25px;
    }

    .main .content {
        display: none;
    }

    .main .main-filter .price {
        margin-top: unset;
    }

    .main-filter .price .slider {
        display: none;
    }

    .main-filter .material {
        margin-top: unset;
    }

    .footer {
        display: none;
    }
}