body {
    font-family: 'Geometria';
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    z-index: 1;
    display: grid;
    grid-template-areas: "header" "menu" "main" "footer";
    grid-template-rows: 85px 48px auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo login";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.logo img {
    height: 44px;
}

.login {
    grid-area: login;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.login-shop {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    cursor: pointer;
}

.login-notifications {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 28px;
}

.login-notifications-icon {
    z-index: 2;
}

.login-notifications-counter {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F8C618;
    margin-left: -9px;
}

.login-notifications-counter-span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #111820;
    font-family: 'Geometria';
}

.login-shop span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #111820;
}

.login-commands {
    display: flex;
    align-items: center;
    gap: 9px;
}

.login-commands span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #111820;
}

.login-commands-user {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.menu {
    grid-area: menu;
    background: #1C1C1C;
}

.footer {
    padding-top: 112px;
    grid-area: footer;
    display: grid;
    grid-template-columns: minmax(auto, 20.7%) 2fr 353px;
    align-items: center;
    gap: 32px;
}

.footer .footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer .footer__contacts h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 195%;
}

.footer .footer__contacts .footer__contacts-wrap {
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 9px;
}

.footer .footer__contacts a, .footer .footer__contacts p {
    font-size: 16px;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
}

.footer .footer__contacts a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.footer .grid-item:nth-child(1) {
    align-self: start;
}

.footer .footer__text-wrap {
    max-width: 580px;
}

.footer .footer__text-wrap p {
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}

.footer .footer__partners {
    align-items: start;
}

.partners {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 99px;
    grid-column-gap: 20px;
    align-items: center;
}

.partner {
    display: flex;
    justify-content: flex-end;
}

.partner__image {
    height: 99px;
}

/**************************************/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 32px;
    padding-top: 64px;
}

.main .content {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 64px;
}

.main .content .top-10, .main .content .top-10-craftsmen, .main .content .holidays,
.main .content .latest-works {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    width: 100%;
}

.main .content .top-10 span, .main .content .top-10-craftsmen span, .main .content .holidays span,
.main .content .latest-works span {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #000000;
}

.main .content .top-10 .container {
    position: relative;
    height: 280px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.main .content .top-10-craftsmen .container {
    position: relative;
    height: 256px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.main .content .holidays .container {
    position: relative;
    width: 100%;
    height: 340px;
    display: flex;
}

.main .content .latest-works .container {
    position: relative;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 280px);
    grid-gap: 16px;
}

.main .content .top-10 .container .item, .main .content .top-10-craftsmen .container .item,
.main .content .latest-works .container .item {
    display: grid;
    border: 1px solid lightgray;
    grid-template-rows: 160px 1fr;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.main .content .top-10 .container .item img, 
.main .content .top-10-craftsmen .container .item img,
.main .content .latest-works .container .item img  {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .content .holidays .container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .content .holidays .container .info {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main .content .holidays .container .info .details {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.main .content .holidays .container .info .details .info-1 {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;

    margin-left: 16px;
    margin-top: 128.85px;
}

.main .content .holidays .container .info .details .info-2 {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    
    margin-left: 16px;
    margin-top: 8.15px;
}

.main .content .holidays .container .info .details .info-3 {
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    
    margin-left: 16px;
    margin-top: 16px;

    width: 740px;
}

.main .content .holidays .container .info .details svg {
    position: absolute;
    left: 16px;
    bottom: 56px;
}

.main .content .top-10 .container .item .info,
.main .content .latest-works .container .item .info {
    display: grid;
    padding: 16px;
    grid-template-rows: 63px 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.main .content .top-10-craftsmen .container .item .info {
    display: grid;
    padding-top: 16px;
    padding-left: 14px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

.main .content .top-10 .container .item .info .name-desc, .main .content .top-10-craftsmen .container .item .info .name-desc,
.main .content .latest-works .container .item .info .name-desc {
    display: flex;
    flex-direction: column;
}

.main .content .top-10 .container .item .info .name-desc .name, 
.main .content .top-10-craftsmen .container .item .info .name-desc .name,
.main .content .latest-works .container .item .info .name-desc .name {
    font-family: Geometria;
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
}

.main .content .top-10 .container .item .info .name-desc .desc, 
.main .content .top-10-craftsmen .container .item .info .name-desc .desc,
.main .content .latest-works .container .item .info .name-desc .desc {
    font-family: Geometria;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
}

.main .content .top-10 .container .item .info .price, 
.main .content .top-10-craftsmen .container .item .info .price,
.main .content .latest-works .container .item .info .price {
    display: flex;
    justify-content: space-between;
}

.main .content .top-10 .container .item .info .price .shop-name, 
.main .content .top-10-craftsmen .container .item .info .price .shop-name,
.main .content .latest-works .container .item .info .price .shop-name {
    font-family: Geometria;
    color: #929292;
    font-size: 12px;
    line-height: 20.8px;
    font-weight: 400;
}

.main .content .top-10 .container .item .info .price .value, 
.main .content .top-10-craftsmen .container .item .info .price .value,
.main .content .latest-works .container .item .info .price .value {
    font-family: Geometria;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
}

.cmd-img-left {
    left: -22px;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmd-img-right {
    right: -22px;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .content .top-10 .container .cmd-img-left, .main .content .top-10 .container .cmd-img-right {
    top: 64px;
}

.main .content .top-10-craftsmen .container .cmd-img-left, .main .content .top-10-craftsmen .container .cmd-img-right {
    top: 64px;
}

.main .content .last-reviews {
    position: relative;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.main .content .last-reviews .cmd-img-left, .main .content .last-reviews .cmd-img-right {
    top: 228px;
}

.main .content .last-reviews img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .content .last-reviews .text {
    margin-left: 83px;
    margin-top: 65px;
    margin-right: 36px;
    margin-bottom: 86px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main .content .last-reviews .text .text-1 {
    font-family: Geometria;
    font-size: 36px;
    font-weight: bold;
}

.main .content .last-reviews .text .text-2 {
    margin-top: 34px;
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}

.main .content .last-reviews .text .text-3 {
    margin-top: 16px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.main .content .last-reviews .text svg {
    position: absolute;
    bottom: 0px;
}

.span-link {
    color: rgb(252, 151, 13);
}

/*.main .content .top-10 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
}

.main .content .top-10 span {
    font-family: Geometria;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #000000;
}*/