body {
    font-family: 'Geometria';
    font-style: normal;
    overflow: overlay;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    z-index: 1;
    display: grid;
    grid-template-areas: "header" "menu" "main" "footer";
    grid-template-rows: 85px 48px auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo login";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.logo img {
    height: 36px;
}

.login {
    grid-area: login;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.login-shop {
    /*display: flex;*/
    display: none;
    align-items: flex-end;
    gap: 6px;
    cursor: pointer;
}

.login-notifications {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 28px;
}

.login-notifications-icon {
    z-index: 2;
}

.login-notifications-counter {
    visibility: hidden;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #F8C618;
    margin-left: -9px;
}

.login-notifications-counter-span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #111820;
    font-family: 'Geometria';
}

.login-shop span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #111820;
}

.login-commands {
    display: flex;
    align-items: center;
    gap: 9px;
}

.login-commands span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #111820;
}

.login-commands-user {
    cursor: pointer;
    visibility: hidden;
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid white;
}

.login-commands-user:hover {
    border: 2px solid #0079C4;
}

.login-commands span {
    cursor: pointer;
    height: 48px;
}

.profile-command {
    visibility: hidden;
}

.menu {
    grid-area: menu;
    background: #1C1C1C;
}

.footer {
    padding-top: 46px;
    padding-bottom: 37px;
    grid-area: footer;
    display: grid;
    grid-template-columns: 302px 2fr 353px;
    align-items: center;
    gap: 32px;
}

.footer .footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer .footer__contacts h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 195%;
}

.footer .footer__contacts .footer__contacts-wrap {
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 9px;
}

.footer .footer__contacts a,
.footer .footer__contacts p {
    font-size: 16px;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
}

.footer .footer__contacts a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.footer .grid-item:nth-child(1) {
    align-self: start;
}

.footer .footer__text-wrap {
    max-width: 580px;
}

.footer .footer__text-wrap p {
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
}

.footer .footer__partners {
    align-items: start;
}

.partners {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 99px;
    grid-column-gap: 20px;
    align-items: center;
}

.partner {
    display: flex;
    justify-content: flex-end;
}

.partner__image {
    height: 99px;
}


/******************************************************************************************************************/

:root {
    --star-size: 27px;
    --star-color: lightgray;
    --star-background: #fc0;
}

.stars {
    --percent: calc(var(--rating) / 10 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
}


/******************************************************************************************************************/

.login-wrapper,
.signup-wrapper,
.password-restore-wrapper,
.password-change-wrapper {
    z-index: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-wrapper {
    z-index: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*********************************************************/

.toast-wrapper-custom {
    z-index: 0;
    visibility: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: start;
}

.toast-custom {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 651px;
    height: auto;
    background-color: white;
    margin-top: 296px;
    align-items: start;
}

.toast-custom .command-close {
    position: absolute;
    top: 11px;
    right: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toast-custom .command-close svg {
    width: 9.8px;
    height: 9.8px;
}

.toast-custom .content {
    width: 518px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 81px;
    margin-top: 70px;
    /*margin-right: 0;*/
    margin-bottom: 32px;
}

.toast-custom .content .message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast-custom .content span {
    width: 100%;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}

.toast-custom .content .button {
    width: 197px;
    height: 46px;
    background: #0079C4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toast-custom .content .button .span {
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    width: auto;
    height: auto;
    color: white;
}


/*********************************************************/

.visible {
    visibility: visible;
    z-index: 3;
}

.invisible {
    visibility: hidden;
    z-index: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.login-dialog,
.signup-dialog,
.password-restore-dialog,
.password-change-dialog {
    position: relative;
    background-color: white;
    border: 2px solid lightgray;
    width: 568px;
    max-height: calc(100% - 100px);
    height: auto;
    display: none;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.toast {
    position: relative;
    background-color: white;
    border: 2px solid lightgray;
    width: auto;
    max-height: calc(100% - 100px);
    height: auto;
    padding: 16px;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
}

.login-dialog .caption-wrapper,
.signup-dialog .caption-wrapper,
.password-restore-dialog .caption-wrapper,
.password-change-dialog .caption-wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-left: 16px;
    padding-right: 16px;
}

.login-dialog .caption-wrapper .caption,
.signup-dialog .caption-wrapper .caption,
.password-restore-dialog .caption-wrapper .caption,
.password-change-dialog .caption-wrapper .caption {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-dialog .caption-wrapper .caption span,
.signup-dialog .caption-wrapper .caption span,
.password-restore-dialog .caption-wrapper .caption span,
.password-change-dialog .caption-wrapper .caption span,
.toast span {
    font-family: 'Geometria';
    font-size: 16px;
    font-weight: bold;
}

.login-dialog .cancel,
.signup-dialog .cancel,
.password-restore-dialog .cancel,
.password-change-dialog .cancel {
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-dialog .cancel svg,
.signup-dialog .cancel svg,
.password-restore-dialog .cancel svg,
.password-change-dialog .cancel svg {
    width: 24px;
    height: 24px;
}

.login-dialog .content-wrapper,
.signup-dialog .content-wrapper,
.password-restore-dialog .content-wrapper,
.password-change-dialog .content-wrapper {
    overflow: auto;
    height: 100%;
}

.login-dialog .content-subwrapper,
.signup-dialog .content-subwrapper,
.password-restore-dialog .content-subwrapper,
.password-change-dialog .content-subwrapper {
    display: grid;
    padding: 24px;
    grid-template-columns: 1fr;
}

.login-dialog .content-subwrapper .caption,
.signup-dialog .content-subwrapper .caption,
.password-restore-dialog .content-subwrapper .caption,
.password-change-dialog .content-subwrapper .caption {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.login-dialog .content-subwrapper .caption span,
.signup-dialog .content-subwrapper .caption span,
.password-restore-dialog .content-subwrapper .caption span,
.password-change-dialog .content-subwrapper .caption span {
    font-family: 'Geometria';
    font-size: 22px;
    color: rgb(34, 34, 34);
    font-weight: 600;
}

.login-dialog .content-subwrapper .input,
.signup-dialog .content-subwrapper .input,
.password-restore-dialog .content-subwrapper .input,
.password-change-dialog .content-subwrapper .input {
    margin-top: 8px;
    height: 56px;
    width: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.login-dialog .content-subwrapper .input:focus-within,
.signup-dialog .content-subwrapper .input:focus-within,
.password-restore-dialog .content-subwrapper .input:focus-within,
.password-change-dialog .content-subwrapper .input:focus-within {
    border: 1px solid #0079C4;
    outline-style: solid;
    outline-width: thin;
    outline-color: #0079C4;
}

.login-dialog .content-wrapper .input span,
.signup-dialog .content-wrapper .input span,
.password-restore-dialog .content-wrapper .input span,
.password-change-dialog .content-wrapper .input span {
    top: 18px;
    font-family: 'Arial';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-indent: 10px;
    color: rgb(113, 113, 113);
}

.login-dialog .content-subwrapper input,
.signup-dialog .content-subwrapper input,
.password-restore-dialog .content-subwrapper input,
.password-change-dialog .content-subwrapper input {
    width: 100%;
    height: 20px;
    border: none;
    text-indent: 10px;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 400;
}

.login-dialog .content-subwrapper input:focus,
.signup-dialog .content-subwrapper input:focus,
.password-restore-dialog .content-subwrapper input:focus,
.password-change-dialog .content-subwrapper input:focus {
    outline: none;
}

.login-dialog .content-subwrapper .signin {
    margin-top: 8px;
    height: 48px;
    background: #0079C4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-dialog .content-subwrapper .signin span {
    color: white;
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.login-dialog .content-subwrapper .signup {
    margin-top: 8px;
    height: 48px;
    border: 1px solid #0079C4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signup-dialog .content-subwrapper .register {
    margin-top: 8px;
    height: 48px;
    background: #0079C4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-dialog .content-subwrapper .signup span {
    color: black;
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.signup-dialog .content-subwrapper .register span {
    color: white;
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.login-dialog .content-subwrapper .password-restore {
    margin-top: 8px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-dialog .content-subwrapper .password-restore span {
    color: black;
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.password-restore-dialog .content-subwrapper .restore {
    margin-top: 8px;
    height: 48px;
    background: #0079C4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.password-restore-dialog .content-subwrapper .restore span {
    color: white;
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.password-change-dialog .content-subwrapper .change {
    margin-top: 8px;
    height: 48px;
    background: #0079C4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.password-change-dialog .content-subwrapper .change span {
    color: white;
    font-family: Geometria;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.error-msg span {
    font-weight: 700;
    color: #FC970D;
}

.block.search {
    cursor: pointer;
}